td.cellule  {
	text-align: center;
	cursor: text;
}

#tabbed_box 
{
    margin: 0px auto 0px auto;
}

ul.tabs 
{
    margin:0px; padding:0px;
}

ul.tabs li 
{
    list-style:none;
    display:inline;
}
.content 
{
    background-color:#ffffff;
    padding:10px;
}

.content ul 
{
    margin:0px;
    padding:0px 20px 0px 20px;
}

.content ul li 
{
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:13px;
}

.content ul li a 
{
    text-decoration:none;
    color:#3e4346;
}

.content ul li a small 
{
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}
.content ul li:last-child 
{
    border-bottom:none;
}
ul.tabs li a 
{
    background-image:url(images/tab_off.jpg);
    background-repeat:repeat-x; 
    background-position:bottom;
}

.content
{
    background-image:url(images/content_bottom.jpg);
    background-repeat:repeat-x; 
    background-position:bottom;
}